*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: 580px;
}

.logo {
    width: 150px;
    margin-left: 140px;
}
.header-container h1{
    color:rgb(243, 232, 253);
    font-family:'Readex Pro', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 80px;
}
.descricao {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
}
.text {
    width: 50%;
    background-color:blueviolet;
}
.box-hero {
    width: 50%;
}
.hero img{
    width: 50%;
}