* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif, Arial, Helvetica;
    font-size: 13px;
}

/* ----------header-------- */
header {
    height: 50px;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 50px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.logo-img {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: chocolate;
}

.menu {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: rgb(198, 198, 198);
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    height: 50px;
    border-bottom: 4px solid black;
    display: flex;
    transition: .3s;
}

.menu li a:hover,
.menu .active a {
    color: chocolate;
    border-bottom: 4px solid chocolate;
}

/* ----------container-------- */
section {
    margin: auto;
    width: 100%;
    height: calc(100vh - 50px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: rgb(19, 19, 19);
    color: white;
}

.container .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .banner h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container .banner span {
    color: chocolate;
}

.container .banner h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: chocolate;
}