body {
    background-color: rgb(222, 222, 222);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
header .logo {
    font-size: 20px;
    font-weight: bold;
}
header .menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu-line {
    height: 3px;
    background-color: rgb(231, 231, 231);
}
/*-------------- SECTION ---------------*/
.container {
    display: flex;
    height: 100vh;
}
.container .leftside {
    background-color: #3b576d;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.container .rightside {
    background-color: rgb(204, 209, 211);
    flex: 1;
    background-size: 800px auto;
    background-image: url(../images/kevin.png);
    background-position:  center top;
}
.container .info {
    color: white;
}
.container .info .profession {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
}
.container .info .name {
    font-weight: bold;
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container .info .buttons a{
    display: inline-block;
    background-color: #ececec;
    color: #3b576d;
    padding: 20px 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 0px 10px #111;
    border-radius: 5px;
    margin-right: 10px;
}
.container .info .buttons a.light {
    color: #fff;
    background-color:#3b576d;
}
.container .info .buttons a:hover {
    opacity: 0.7;
}

/*-------------- FOOTER ---------------*/
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    color: #fff;
    font-size: 13px;
}
footer a {
    color: #fff;
}
/*-------------- MOBILE ---------------*/
@media (max-width: 850px) {
    header {
        position: initial;
        background-color: #3b576d;
    }
    header .menu-line {
        background-color: #fff;
    }
    .container {
        flex-direction: column;
    }
    .container .leftside {
        flex: none;
        padding: 30px 20px;
        justify-content: center;
        text-align: center;
    }
    footer {
        position: initial;
        color: #333;
        font-size: 16px;
    }
    footer a{
        color: #333;
    }    
}
@media (max-width: 450px) {
    .container .leftside .info .name {
        font-size: 50px;
    }
    .container .leftside .info .buttons a {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
}