.flex-container {
    display: flex;
    height: 150px;
    border: 2px solid #000;
    max-width: 300px;
    flex-direction: column;
}
.item {
    font-size: 24px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    line-height: 50px;
}
.nowrap {
    flex-wrap: nowrap;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}


.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}