* {
    box-sizing: border-box;
}
:root {
    --cor-fundo: rgb(34, 1, 37);
    --cor-hover: rgb(130, 148, 187);
    --cor-primaria: silver;
}
body {
    margin: 0;
    background: radial-gradient(#5caf70,#08BD32);
}
header {
    background: radial-gradient(#08BD32,#04701E);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width:1200px;;
    margin: auto;
}
header .logo img {
    width: 130px;
    height: auto;
}
header .menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .menu-line {
    height: 3px;
    background-color: #fff;
}
/*--------------------*/
.container{
    background-color: var(--cor-fundo);
    width:1200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.container ul li a{
    text-decoration: none; 
    color: var(--cor-primaria);
    font-family: 'Readex Pro', sans-serif;
    font-size: 15px;
    border-bottom: 4px solid rgb(34, 1, 37);    
}
.container-itens {
    display: flex;
    align-items: center;
    list-style: none;    
}
.container-itens li{
    margin-right: 20px;  
}
.container ul li a:hover{
    border-bottom: 4px solid var(--cor-hover);
    transition: .2s;
}
nav .area-membros {
    font-family: 'Readex Pro', sans-serif;
    margin-right: 40px;
    border-bottom: 4px solid rgb(34, 1, 37);
}
nav .area-membros a {
    text-decoration: none;
    color: var(--cor-primaria);
}
nav .area-membros a:hover {
    border-bottom: 4px solid var(--cor-hover);
    transition: .2s;
}
/* ------------------Sub menu---------------------*/
.container-itens li ul{
    top: 118px;
    position: absolute;
    list-style: none;
    margin-left: -40px;
}
.container-itens li ul a{
    display: block;
    margin-top: 1px;
    padding: 2px;
    background-color: var(--cor-fundo);
}


/*-----------------------Rodapé----------------------*/
footer{
    background-color:var(--cor-fundo);
    color:white;
    width: 1200px;
    height: 100px;
    margin: auto;
    padding: 10px;
    bottom: 0; 
}
address {
    font-style: normal;
}