.container {
    background-color: rgb(175, 175, 175);
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "header header header header"
        "menu content content  content"
        "ad content content content"
        "footer footer footer footer"
        ;
}
.item {
    background-color: #2b6ab7;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    font-size: 20px;
}
header {
    grid-area: header;
}
nav {
    grid-area: menu;
}
section {
    grid-area: content;
}
footer {
    grid-area: footer;
}
.ad {
    grid-area: ad;
}

/*
 ------- Responsividade mobile ------
*/
@media (max-width: 750px){
    .container {
        grid-template-areas:
            "header header header menu"
            "content content content content"
            "ad ad ad ad"
            "footer footer footer footer"
    }
}