@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: rgb(23, 23, 23);
    color: #fff;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: brown;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}