@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary: rgb(1, 0, 20);
    --bg-body: rgb(1, 0, 30);
    --bg-secundary: rgb(241, 241, 241);
    --bg-opacity: rgba(2, 0, 36, 0.7);
    --font-padrao: 'Montserrat', arial, helvetica, sans-serif;
    --color-primary: rgb(241, 241, 241);
    --color-secundary: rgb(50, 237, 4);
    --color-tertiary: rgb(1, 0, 30);
    --bg-button-primary: rgb(50, 237, 4);
}

body {
    font-family: var(--font-padrao);
    font-size: 13px;
    background-color: rgb(2, 0, 36);
    color: rgb(241, 241, 241);
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(4, 1, 39);
    color: rgb(241, 241, 241);
}

.header {
    width: 1140px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100px;
    height: 35px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;

}

.menu li a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(241, 241, 241);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: .3s;
    height: 80px;
    border: 5px solid rgb(4, 1, 39);
}

.menu li a:hover {
    border-bottom: 5px solid rgb(50, 237, 4);
    color: var(--color-secundary);
}

.menu .active a {
    border-bottom: 5px solid rgb(50, 237, 4);
    color: var(--color-secundary);
}

/*-----------container - slides--------------*/
.container {
    background-image: url(/assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: var(--bg-opacity);
}

.slide {
    width: 100vw;
    transition: .6s;
}

.slide-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.slide-area h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

.slide-area h1 span {
    color: var(--color-secundary);
}

.slide-area h2 {
    color: var(--color-secundary);
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 30px;
}

.slide-area .link-sites {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.slide-area .link-sites a {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--bg-button-primary);
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgb(50, 237, 4);
    color: var(--color-primary);
    background-color: var(--bg-opacity);
    border-radius: 25px;
    transition: .3s;
}

.slide-area .link-sites a:hover {
    background-color: rgb(50, 237, 4);
    border: 2px solid rgb(50, 237, 4);
    color: rgb(2, 0, 36);
}

/*----------bar pointer navigation-----------*/
.navigation {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%)
}

.navigation .nav {
    width: 70px;
    height: 10px;
    border: 2px solid rgb(50, 237, 4);
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.navigation .nav:hover {
    background-color: var(--bg-button-primary);
}

/*----------bar pointer navigation - animation -----------*/
input {
    display: none;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -100vw;
}

#slide3:checked~.s1 {
    margin-left: -200vw;
}

/*----------about me-----------*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 680px;
    background-color: rgb(200, 205, 218);

}

.about h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--color-tertiary);
}

/*----------project-----------*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(72deg, rgb(1, 0, 30) 1%, rgb(4, 1, 39) 99%);
}

.projects h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--color-primary);
}



/*----------contact-----------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 680px;
    background-color: rgb(200, 205, 218);

}

.contact h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    color: var(--color-tertiary);
}

/*-------------------button scroll---------------*/
.scrollbutton {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
    transition: 0.5s;
    border: 2px solid rgb(50, 237, 4);
    color: rgb(50, 237, 4);
    font-weight: bold;
    background-color: var(--bg-opacity);
    border-radius: 25px;
    transition: .3s;
}

.scrollbutton span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 30px;
    margin: auto;

    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
}

.scrollbutton:hover {
    background-color: rgb(50, 237, 4);
    border: 2px solid rgb(50, 237, 4);
    color: rgb(2, 0, 36);
}


/*-------------------footer---------------*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    padding-top: 20px;
}

footer .logo {
    margin-bottom: 10px;
}

.menu-footer ul,
li,
a {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu-footer {
    margin-bottom: 15px;
}

.menu-footer ul li a {
    display: inline-block;
    padding: 10px 5px;
    color: var(--color-primary);
    border: 5px solid rgb(2, 0, 36);
    transition: .3s;
}

.menu-footer ul li a:hover {
    color: var(--color-secundary);
    border-bottom: 5px solid rgb(50, 237, 4);
}

footer .copy {
    font-size: 12px;
    color: rgb(157, 157, 157);
}